In [1]:
import subprocess, sqlite3, csv, os


db = sqlite3.connect("part1test.db") # change this to 'part1test.db' for testing
db.text_factory = str

In [2]:
#
def q1():
    db.executescript("""
        DROP VIEW IF EXISTS q1;    
        CREATE VIEW q1 AS
            SELECT companies.company_name, price_amount 
            FROM companies            
            LEFT OUTER JOIN acquisitions
            ON companies.company_name = acquisitions.company_name
            WHERE companies.status LIKE "acquired";
            
    """)
    return

q1()

In [3]:
# How many startups (according this data), were funded between 2012 and 2014?
def q2():
    r = db.executescript("""
        DROP VIEW IF EXISTS q2;

        CREATE VIEW q2 AS
        SELECT
            COUNT(*)
        FROM
            companies
        WHERE
            -- figure out the comparison of string euqal versus range in time
            -- should i just keep the data as strings?
            founded_at <= '2014-12-31'
        AND
            founded_at >= '2012-01-01';

        SELECT * FROM q2;
    """)
    return

In [4]:
# What is the state that has the most number of startups are in the  
#    "Security" market (i.e. market column contains the word "Security")?
# Output should be the state and the corresponding number
# Note that if there are multiple values with equal values, we want to see all of them, 
#   ordered by name 
# You might want to look into the keyword "LIKE", 

## TODO: change solution!!! and example that 

def q3():
    db.executescript("""
        DROP VIEW IF EXISTS q3;
        
        DROP VIEW IF EXISTS T;
        CREATE VIEW T AS
        
            SELECT
                state, count(company_name) AS total
            FROM
                companies
            WHERE
                market LIKE '%Security%'            
            AND
                state != ""            
            GROUP BY
                state;
                
        CREATE VIEW q3 AS        
        SELECT
            T.state, T.total
        FROM T     
        WHERE T.total = (SELECT MAX(T.total) FROM T);
        
    """)
    return
q3()

In [5]:
# Which cities has more numbers of acquirers than startups?

# Note that a startup could be counted as an acquirer, 
#    but it should only be counted at most once in both cases
# NO NEED TO CHECK FOR 0

def q4():
    db.executescript("""
    
        DROP VIEW IF EXISTS q4;
        DROP VIEW IF EXISTS q4temp;
        CREATE VIEW q4temp AS        
        SELECT
            C.city, A.acquirer_city, C.total as ct,  A.total AS at
        FROM
            (SELECT
                acquirer_city, count(DISTINCT acquirer_name) AS total
            FROM
                acquisitions
            GROUP BY
                acquirer_city) A
        LEFT OUTER JOIN
            (SELECT
                city, count(DISTINCT company_name) AS total
            FROM
                companies
            GROUP BY
                city) C
        ON
            C.city = A.acquirer_city;
            
        CREATE VIEW q4 AS
        SELECT 
            acquirer_city
        FROM q4temp
        WHERE 
            at > ct 
        OR ct ISNULL;            
    """)
    return

In [6]:
q1()
q2()
q3()
q4()
! ./test.sh

diff: /home/dmitry/coms4037/hw/hw2/part1/expected_output/q1.csv: No such file or directory
ERROR q1 output differed! See diffs/q1.csv
diff: /home/dmitry/coms4037/hw/hw2/part1/expected_output/q2.csv: No such file or directory
ERROR q2 output differed! See diffs/q2.csv
diff: /home/dmitry/coms4037/hw/hw2/part1/expected_output/q3.csv: No such file or directory
ERROR q3 output differed! See diffs/q3.csv
diff: /home/dmitry/coms4037/hw/hw2/part1/expected_output/q4.csv: No such file or directory
ERROR q4 output differed! See diffs/q4.csv